@import url("index.css");

body {
    height: 100vh;
    width: 100vw;
    font-family: var(--fontePrincipal);
    background: #EBECEE;
}

/* CABEÇALHO */

.header-catalog {
    background-color: var(--verdeFundo);
}


/* CATÁLOGO */

.catalog {
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 25rem 3rem 5rem 3rem;
}

.catalog__image-container {
    box-shadow: 0rem .4rem .4rem rgba(3, 2, 2, 0.25);
    background-color: transparent;
    width: 10vw;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--verdeClaro);
    padding: 0rem 2rem 0rem 2rem;
    border-radius: 1.5rem;
    background-color: white;
    padding: 0rem .2rem 0rem .2rem;
}

.catalog__image {
    display: block;
    margin: auto;
    width: 90%;
}

.catalog__caption {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 2rem 0rem 2rem 0rem;
}

.catalog__price {
    margin: 2rem 0rem 2rem 0rem;
    text-align: center;
    font-weight: 500;
    font-size: 2.2rem;
}


/* RODAPÉ */

.rodape {
    color: var(--verdeEscuro);
    background-color: var(--verdeFundo);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape__texto {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
}


@media screen and (max-width: 1100px) {

    .header__title {
        font-size: 60px;
        gap: 150px;
    }

    .header_menu-link {
        font-size: 18px;
    }

    .catalogo__container {
        padding: 180px 1em 0em 1em;
        margin: 0 auto;
    }
}

@media screen and (max-width: 990px) {
    
    .header {
        flex-direction: column;
        gap: 0px;
    }

    .header__title {
        font-size: 50px;
    }

    .header_menu-link {
        font-size: 15px;
    }

    .catalogo__container {
        padding: 200px 40px 0px 40px;
        gap: 20px;
    }

    .catalogo__titulo {
        font-size: 20px;
    }

    .catalogo__preco {
        font-size: 20px;
    }

    .rodape_texto {
        font-size: 22px;
        padding: .5em;
    }
}


@media screen and (max-width: 481px) {
    
    .header {
        flex-direction: column;
        padding: 0px;
        gap: .5em;
    }

    .header__title {
        font-size: 40px;
    }

    .header_menu-link {
        font-size: 10px;
    }

    .catalogo__container {
        padding: 180px 10px 80px 10px;
    }

    .catalogo__titulo {
        font-size: 15px;
    }

    .catalogo__preco {
        font-size: 15px;
    }

    .rodape__texto {
        padding: .5em;
        font-size: 18px;
    }
}


@media screen and (max-width: 360px) {
    .catalogo__container {
        /* justify-content: center; */
        padding: 180px 10px 80px 10px;
        gap: 0px;
    }
}

