@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

:root {
    --cor001: #609966;
    --cor002: #EDF1D6;

    --fontePrincipal: 'Open Sans', sans-serif;
}

body {
    height: 97vh;
    font-family: var(--fontePrincipal);
}

.cabecalho {
    background-color: var(--cor001);
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cabecalho_titulo {
    color: #EDF1D6;
    font: normal bold 90px var(--fontePrincipal);
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.528);
}

.cabecalho_titulo:hover {
    color: white;
    transition: 0.3s;
}

.cabecalho_navegacao {
    padding-bottom: 10px;
}

.cabecalho_navegacao_links {
    text-decoration: none;
    color: var(--cor002);
    font: normal bold 22px var(--fontePrincipal) ;
    padding: 0px 20px 0px 0px;
}

.cabecalho_navegacao_links:hover {
    color: white;
    font-size: 23px;
    transition: 0.17s;
}

.apresentacao_conteudo {
    max-width: 1000px;
    padding: 60px 10px 60px 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.apresentacao_conteudo_colunas {
   display: flex;
   justify-content: space-around;
   gap: 15px;
}

.apresentacao_conteudo_colunas_itens {
    border-right: 2px solid var(--cor001);
    padding-right: 10px;
    background-color: white;
    width: 20%;
}

.apresentacao_conteudo_colunas_itens_titulo {
    text-align: center;
    font-weight: 500;
    color: var(--cor001);
    font-size: 20px;
}

.apresentacao_conteudo_colunas_itens_titulo:hover {
    font-size: 21px;
    transition: 0.3s;
}

.apresentacao_conteudo_colunas_itens_preco {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: var(--cor001);
}
.apresentacao_conteudo_colunas_itens_imagens {
    display: block;
    margin: auto;
    width: 90%;
}

.apresentacao_conteudo_colunas_itens_imagens:hover {
    width: 94%;
    transition: 0.3s;
}

.rodape {
    background-color: var(--cor001);
    padding: 30px;
}

.rodape_texto {
    text-align: center;
    color: white;
    font-weight: 400;
}



@media (max-width: 561px) {

    .cabecalho_titulo {
        font-size: 70px;
    }

    .apresentacao_conteudo {
        gap: 100px;
    }

    .apresentacao_conteudo_colunas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
     }

     .apresentacao_conteudo_colunas_itens {
        width: 40%;
        border: none;
        padding: 0px;
    }

    .apresentacao_conteudo_colunas_itens_titulo {
        font-size: 25px;
    }

    .apresentacao_conteudo_colunas_itens_preco {
        font-size: 25px;
    }


}

@media (max-width: 422px) {

    .cabecalho_titulo {
        font-size: 50px;
    }

    .apresentacao_conteudo_colunas_itens_titulo {
        font-size: 25px;
    }

    .apresentacao_conteudo_colunas_itens_preco {
        font-size: 25px;
    }
}

@media (max-width: 404px) {
    .cabecalho_navegacao_links {
        font-size: 18px;
    }
}

@media (max-width: 349px) {
    .cabecalho_navegacao_links {
        font-size: 15px;
    }
}
