@charset "UTF-8";  

:root {
    --cor001: #609966;
    --cor002: #EDF1D6;
    --corTransparente: #60996658;

    --fontePrincipal: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    color: var(--cor001);

    background-image: url(../imagens/background.jpg);
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
}

.cabecalho-home {
    background-color: var(--corTransparente);
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.apresentacao_opcoes {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.apresentacao_opcoes_titulo {
    font-size: 45px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.528);
    color: #EDF1D6;
}

.apresentacao_opcoes_links {
    border: 2px solid var(--cor001);
    border-radius: 20px;
    padding: 20px;
    font: normal 500 25px var(--fontePrincipal);
    text-decoration: none;
    color: var(--cor002);
    background-color: var(--corTransparente);
    width: 40%;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(10, 10, 10, 0.43);
}

.apresentacao_opcoes_links:hover {
    color: white;
    background-color: #6099666b;
}

@media (max-width: 349px) {
    .cabecalho_navegacao_links {
        font-size: 15px;
    }

    .apresentacao_opcoes_titulo {
        font-size: 38px;
    }
}