@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

:root {
    --cor001: #609966;
    --cor002: #EDF1D6;

    --fontePrincipal: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: var(--fontePrincipal);
}


/* CABEÇALHO */

.cabecalho {
    background-color: var(--cor001);
    height: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.cabecalho__titulo {
    color: #EDF1D6;
    font: normal bold 90px var(--fontePrincipal);
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.528);
}

.cabecalho__titulo:hover {
    color: white;
    transition: 0.3s;
}

.lista-menu {
    display: flex;
    list-style-type: none;
}

.lista-menu__links {
    text-decoration: none;
    color: var(--cor002);
    font: normal bold 22px var(--fontePrincipal) ;
    padding: 0px 20px 0px 0px;
}

.lista-menu__links__links:hover {
    color: white;
    font-size: 23px;
    transition: 0.17s;
}

/* CATÁLOGO */

.catalogo__container {
    max-width: 1200px;
    padding: 60px 60px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 

    justify-content: space-between;
    background-color: rgb(228, 224, 224);
}

.catalogo__item {
    border-right: 2px solid var(--cor001);
    padding-right: 10px;
    background-color: transparent;
    width: 250px;
}

.catalogo__titulo {
    text-align: center;
    font-weight: 500;
    color: var(--cor001);
    font-size: 20px;
}

.catalogo__titulo:hover {
    font-size: 21px;
    transition: 0.3s;
}

.catalogo__preco {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: var(--cor001);
}
.catalogo__imagem {
    display: block;
    margin: auto;
    width: 90%;
}

.catalogo__imagem:hover {
    width: 94%;
    transition: 0.3s;
}



/* RODAPÉ */

.rodape {
    background-color: var(--cor001);
    padding: 30px;
}

.rodape_texto {
    text-align: center;
    color: white;
    font-weight: 400;
}



@media (max-width: 561px) {

    .cabecalho_titulo {
        font-size: 70px;
    }

    .apresentacao_conteudo {
        gap: 100px;
    }

    .apresentacao_conteudo_colunas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
     }

     .apresentacao_conteudo_colunas_itens {
        width: 40%;
        border: none;
        padding: 0px;
    }

    .apresentacao_conteudo_colunas_itens_titulo {
        font-size: 25px;
    }

    .apresentacao_conteudo_colunas_itens_preco {
        font-size: 25px;
    }
}

@media (max-width: 422px) {

    .cabecalho_titulo {
        font-size: 50px;
    }

    .apresentacao_conteudo_colunas_itens_titulo {
        font-size: 25px;
    }

    .apresentacao_conteudo_colunas_itens_preco {
        font-size: 25px;
    }
}

@media (max-width: 404px) {
    .cabecalho_navegacao_links {
        font-size: 18px;
    }
}

@media (max-width: 349px) {
    .cabecalho_navegacao_links {
        font-size: 15px;
    }
}
